<li>
 <span><h2><%= link_to topic.subject, topic_path(:id => topic.id)%>
 <button type="button"><%=topic.rating%></button></h2></span>

 
 <span class="timestamp">
 	CPSC <%=topic.course_number%> | Professor <%=topic.professor_name%>.
     Posted by <%= topic.user.name%> -  <%= time_ago_in_words(topic.created_at) %> ago.

  <% if current_user?(topic.user) %>
  <%= link_to "edit ", edit_topic_path(topic)%>
  <%= link_to "| delete ", topic, method: :delete, data: { confirm: "Are you sure?"}, title: topic.subject %>
 
 <%end%>

 <%= link_to "| Upvote ", rate_path(:id =>topic.id), :method => :post%>
  </span>
 </li>