
 <span><h2><%= link_to topic.subject, topic_path(:id => topic.id)%>
 <button type="button" class="btn btn-default btn-sm"><%=topic.rating%></button></h2></span> 
 <span class="timestamp">

<%if !topic.course_number.nil? && !topic.professor_name.empty?%>
	 CPSC <%=topic.course_number%> | Professor <%=topic.professor_name%>.
 <%elsif !topic.course_number.nil?%>
 	CPSC <%=topic.course_number%> |
 <%elsif !topic.professor_name.empty?%>
 	Professor <%=topic.professor_name%>.
 	<%else%>
<%end%>

Posted by <%= topic.user.name%> -  <%= time_ago_in_words(topic.created_at) %> ago.

  <%if signed_in? %>
	  <% if current_user?(topic.user) || current_user.access_level == 1%>
	  <%= link_to "edit ", edit_topic_path(topic)%>
	  <%= link_to "| delete ", topic, method: :delete, data: { confirm: "Are you sure?"}, title: topic.subject %>
	 
	 <%end%>
 <%end%>

 <%= link_to "| like ", like_path(:id =>topic.id), :method => :post%>
  <%= link_to "| dislike ", dislike_path(:id =>topic.id), :method => :post%>
  </span>
