
<% provide(:title, 'Add a topic') %>

<%#= render 'shared/side'%>
<!-- <div class="mainregion"> -->

<div class="row">
  <div class="span6">
  <h1>Add a topic</h1>
    <%= form_for(@topic) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :subject %>
      <%= f.text_field :subject, :placeholder => "Topic subject" %>

      <%= f.label "Course number" %>
      <%= f.text_field :course_number, :placeholder => "Optional" %>

      <%= f.label "Professor name"  %>
      <%= f.text_field :professor_name, :placeholder => "Optional" %>

      <%= f.label "Body"  %>
      <%= f.text_area :body, :placeholder => "Post your comment here"  %>

      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<!-- </div> -->