<% provide(:title, @topic.user.name) %>


	<h1> <%= @topic.subject %>  <button type="button" class="btn btn-default"><%=@topic.rating%></button> </h1>
	<%if !@topic.course_number.nil?%>
		<h4> CPSC <%=@topic.course_number%></h4>
	<%end%>
	<%if !@topic.professor_name.empty?%>
 		<h4>Professor <%=@topic.professor_name%></h4>
 	<%end%>
 	<%if !@topic.course_number.nil? && !@topic.professor_name.empty?%>
	<h4> CPSC <%=@topic.course_number%> | Professor <%=@topic.professor_name%></h4>
	<%end%>
	 <span class="timestamp">

	  <%if signed_in? %>
		  <% if current_user?(@topic.user) || current_user.access_level == 1 %>
		  <%= link_to "edit ", edit_topic_path(@topic)%>
		  <%= link_to "| delete |", @topic, method: :delete, data: { confirm: "Are you sure?"}, title: @topic.subject %>
		 <%end%>
	 <%end%>

	 <%= link_to " like |", like_path(:id =>@topic.id), :method => :post%>
	 <%= link_to " dislike", dislike_path(:id =>@topic.id), :method => :post%>

  </span>
	<br>
	<div class="comment">
	<h2><%= gravatar_for @topic.user%>
	 <%= @topic.user.name %></h2>
	 <span class="timestamp"> <%=@topic.user.status%></span>
	
	<div class="clear-all"></div>

	<p><%= @topic.body %> </p>
	<span class="timestamp"><p>
    		Posted by <%= @topic.user.name%> -  <%= time_ago_in_words(@topic.created_at) %> ago.
  			</p></span>
	</div>

	<%if @topic.comments.any?%>
		<%@topic.comments.each do |comment| %>
			<div class="comment">
			<h2><%= gravatar_for comment.user%>
	 		<%= comment.user.name %></h2>
	 		<span class="timestamp"> <%=comment.user.status%></span>
			<div class="clear-all"></div>
			<p><%= comment.body %> </p>
			<span class="timestamp">
    		<p>Posted by <%= comment.user.name%> -  <%= time_ago_in_words(comment.created_at) %> ago.

    		<%if signed_in? %>
	  			<% if current_user?(comment.user) || current_user.access_level == 1 %>
	  			<%= link_to "edit ", edit_comment_path(comment)%>
	  			<%= link_to "| delete", comment, method: :delete, data: { confirm: "Are you sure?"}, title: @topic.subject %>
	  			<%end%>
  			<%end%>

  			</p></span>
			</div>
		<%end%>

	<%end%>
	 <h2><%= link_to "REPLY", generate_path(:id => @topic.id), :class =>"pull-right" %></h2>
	 <br>
	 <p><%= link_to "Back to main page", root_path %></p>
