<% provide(:title, 'All topics') %>

<div>
 <% if @goodtopics.any? %>
 <h1>Most popular topics</h1>
   
    <table>
      <%=render @goodtopics %>
    </table>
  <%end%>
</div>

<div>
 <h1>Latest topics (<%= @topics.count%>)</h1>
 <% if @topics.any? %>
   
    <table>
      <tr><%=render @topics %></tr>
    </table>
    <%= will_paginate @topics %>
  <% else%>

  <h2>There are no topics yet! </h2>
  <%end%>
</div>

<div>

<h1>Active users</h1>
 <table>
  <tr>
<% if @activeUsers.any? %>
  <% @activeUsers.each do |activeUser| %>
    <td width="120px"><%= gravatar_for(activeUser,80)%>
    <br>
    <h4><%= activeUser.name.split[0] %></h4>
    </td>
  <%end%>

    </tr>
  </table>
  </div>  
<%end%>


</div>

   

